.Category {
  margin-bottom: 3pt;
  width: 100%;

   > header > .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    a {
      color: $action-color;
    }
    h1 {
      margin: 0px;
      padding: 5px;
      font-weight: 800;
      font-size: 100%;
      @media (min-width: 950px) {
        padding: 0;
        font-size: 150%;
      }
    }
    .collapse-button {
      color: $action-color;
      padding-left: 5px;
      cursor: pointer;
      user-select: none;
    }
  }

  .forum-wrap {
    @media screen and (min-width: 950px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}