.Forum {
  padding: 5px;
  box-shadow: none !important;
  justify-content: space-between;

  @media screen and (min-width: 950px) {
    margin-top: 0;
    width: 50%;

    float: left;
    display: flex;
    align-items: center;

    &:nth-child(odd):last-of-type {
      &:after {
        display: block;
        width: 50%;
        width: calc(50% + 6px);
        flex-shrink: 0;
      }
    }
  }

  .forum-icon {
    margin: 5px;
    padding: 0;
    float: left;

    img {
      height: 30px;
      width: 30px;
      flex-shrink: 0;

      border: 2px solid white;
      border-radius: 2px;

      @media (min-width: 950px) {
        width: 70px;
        height: 70px;
      }
    }
  }

  .info {
    padding-left: 10px; 
    padding-right: 10px;

    width: 100%;
    min-width: 0;
    justify-content: flex-start; 
    align-items: flex-start;
    text-decoration: none;
    
    header {
      display: flex; 
      a.title {
        flex: 1;
      } 
      .subforums {
        display: none;
        list-style: none;
        margin: 0; padding: 0;
        align-self: flex-end;
        padding-bottom: 5px;
        @media (min-width: 768px) {
          display: flex;
        }
        & > div {
          display: inline-block;
          margin: 0 2px; padding: 0;
          .subforum {
            > img {
              background-color: gray;
              width: 32px;
              height: 32px;
              border-radius: 2px;
            }
          }
        }
      }
    }

    .title {
      @media (min-width: 950px) {
        text-decoration: none;
      }

      &:hover h2, &:active h2 {
        color: #333; //TODO colours
        text-decoration: underline;
      }
    }

    h2 {
      color: #555;
      margin: 0;
      font-size: 130%; 
      margin-bottom: 5px;
      font-weight: bold;
    }

    .forum-description {
      color: #888;
      font-size: 80%;
      font-weight: 300;
      display: none;

      @media (min-width: 768px) {
        display: block !important;
      }
    }

    .viewers {
      font-size: 65%;
      color: #777;
    }
    
    .last-posts {

      .last-posts-meta {
        display: flex;
        margin-bottom: 0;

        flex-direction: column;
        justify-content: space-between;

        font-size: 90%;

        @media (min-width: 950px) {
          flex-direction: row;
          align-items: flex-end;
          flex-wrap: wrap;
        }

        .last-post-title {
          flex: 1;
          min-width: 0;
          margin-left: 0 !important;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          @media (min-width: 950px) {
            flex: 3;
          }
        }

        .author {
          font-size: 80%;
          color: #666;
          
          flex: 2;
          white-space: nowrap;
          
          .time {
            font-style: italic;
            text-transform: capitalize;
          }

          a {
            color: #666;
          }
        }
      }
    }
  }

  &:after {
    display: table;
    content: "";
    clear: both;
  }
}