.Toolbar {
  display: flex;
  flex-wrap: wrap;

  .tool-group {
    display: flex;
    margin-bottom: 0.25rem;

    &:not(:last-of-type) {
      margin-right: 0.5rem;
    }

    .dropdown {
      display: inline-block;
    }

    button {
      padding: 2px 8px;

      background-color: $modal-background-color;
      border: 1px solid $divider-color;
      color: $text-color;
      border-radius: 0;
      display: inline-block;

      &:hover {
        background-color: $background-color-shaded;
        border-color: $divider-color-dark;
      }
    }
  }

  .font-dropdown-menu {
    max-height: 200px;
    overflow-y: scroll;
  }
}