.Block {
  box-shadow: $block-shadow;

  padding: 0;
  background-color: $block-background-color;
  margin: 10px 0;

  position: relative;

  & > header {
    background-color: $block-header-background-color;
    display: flex;
    align-items: center;
    
    &:not(.no-padding) {
      padding: 0.625rem;
    }
    
    &:not(.no-border-bottom) {
      border-bottom: 2px solid $block-header-divider-color;
    }
  }

  & > .BlockContent,
  & > .BlockFooter {
    &:not(:empty) {
      padding: 0.625rem;
    }
  }

  .BlockListContent:not(:empty) {
    padding: 0;

    .children:not(:empty) {
      padding: 5px 20px;
    }

    &:not(.no-tiger-stripe) {
      ul {
        li:nth-child(odd) {
          background-color: $background-color-shaded; 
        }
      }
    }

    & > ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        padding: 3px 20px;
      }
    }
  }
}