.Editor {
  position: relative;

  .Toolbar {
    display: flex;
    justify-content: center;
    margin-bottom: 0.25rem;

    .tool-group {
      &:not(:last-of-type) {
        margin-right: 0.5rem;
      }

      .dropdown {
        display: inline-block;
      }

      button {
        padding: 2px 8px;

        // TODO colours
        background-color: #fff;
        border: 1px solid #ccc;
        color: black;
        border-radius: 0;
        display: inline-block;

        &:hover {
          background-color: #e6e6e6;
          border-color: #adadad;
        }
      }
    }
  }

  .Content {
    display: block;
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    min-height: 20rem;
    max-height: 100vh;

    @media screen and (min-width: 768px) {
      min-height: 5rem;
      max-height: 75rem;
    }
  }

  .editor-context-menu {
    display: flex;
    position: absolute;

    width: 400px;
    max-width: 90%;

    background-color: var(--primary);
    padding: 4px 8px;
    padding-bottom: 6px;

    border-radius: 6px;
    margin-bottom: 2rem;

    box-shadow: 2px 2px 3px mix(black, transparent, 60%);
    transition: 0.1s ease-in-out;
    
    &:after {
      content: '';
      position: absolute;
      
      bottom: 0;
      left: var(--arrow-offset);
      width: 0;
      height: 0;
      
      border: 20px solid transparent;
      border-top-color: var(--primary);
      border-bottom: 0;
      margin-left: -20px;
      margin-bottom: -20px;
      
      transition: 0.1s ease-in-out;
    }
  }
}