//TODO switch out colors
$internal-links:
(
  link-theme: #fc87b4,
  link-staff: rgb(0, 233, 132),
  link-rules: rgb(255, 144, 0),
  link-about: rgb(252, 53, 0),
  link-contact: rgb(0, 191, 239),
);

$social-links:
(
  social-facebook: rgb(59, 89, 152),
  social-twitter: rgb(85, 172, 238),
  social-instagram: rgb(233, 89, 80),
  social-youtube: rgb(229, 45, 39),
  social-rss: rgb(242, 101, 34),
);

.Footer {
  background-color: #444444;

  .footer-branding {
    padding: 20px;
    text-align: center;

    .footer-logo {
      height: 30px;
  
      path.logo {
        fill: white;
      }
    }

    .slogan {
      font-size: 0.85rem;
      color: #8b8b8b;
    }
  }

  .footer-links {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 20px 100px;

    .link-wrapper {
      font-size: 0.8rem;
      font-weight: bold;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: rgb(159, 220, 248);

      .link-background {
        background-color: #8b8b8b;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;

        @each $name, $color in $internal-links {
          &.#{$name}:hover {
            background-color: $color;
          }
        }
        
        .link-icon {
          color: white;
          font-size: 2.5rem;
          padding: 5px;
          cursor: pointer;

          &:hover {
            color: white;
          }
        }
      }
    }
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

    .link-icon {
      color: white;
      font-size: 1.5rem;
    }

    @each $name, $color in $social-links {
      .#{$name} {
        background-color: $color;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 10px;
      }
    }
  }

  .footer-legal {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    color: white;
    padding-bottom: 30px;

    a {
      color: white;
      font-weight: bold;
    }

    .aster {
      font-size: 0.7rem;
      color: #999;
    }
  }
}