.Page {
  & > .container, 
  & > .container-fluid {
    margin: 0;
    width: unset;
    padding-top: 1px;

    @media (min-width: 768px) {
      margin: 10px 15px;
    }

    @media(min-width: 992px) {
      margin: 10px 30px;
    }
  }
}