.Pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  .pagination-item {
    background-color: var(--blue); // TODO colours
    color: white;

    width: 28px;
    height: 28px;
    font-size: 18px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 6px;
    
    &:not(:last-child) {
      margin-right: 0.25rem;
    }
  }
}