.Post {
  margin: 5px;
  padding: 10px;
  border: 1px solid lightgrey;

  -webkit-box-shadow: 0px 0px 10px 0px rgba(117,110,117,0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(117,110,117,0.5);
  box-shadow: 0px 0px 10px 0px rgba(117,110,117,0.5);
}