.PostModal {
  width: 100%;
  max-width: none !important;

  @media screen and (min-width: 768px) {
    width: 75%;
  }

  .revert-draft {
    margin-left: 8px;
    padding: 2px 0.375rem;
  }

  .ColumnsLayout.modal-body .col-editor {
    border-right: 1px solid $divider-color;
  }

  .modal-footer {
    display: block;

    .Preview {
      .preview-title {
        display: block;
        margin-bottom: 0.5rem;
      }
    }
  }
}