.bbcode-tag {
  &.tag-mention {
    font-weight: bold;
  }

  &.tag-spoiler {
    .spoiler-toggle {
      cursor: pointer;
    }

    .spoiler-content {
      padding: 1rem;
      margin-bottom: 0;
    }
  }
}