// .ThreadPoll {
//   ul {
//     list-style: none;
//     padding-left: 0;

//     li {
//       padding: 10px;

//       .option-title {
//         width: 200px;
//         word-wrap: wrap;
//       }

//       //TODO use mobile variable
//       @media (max-width: 768px) {
//         display: inline;
//       }

//       &:nth-of-type(even) {
//         //TODO change color variable
//         background-color: rgb(243, 240, 240);
//       }

//       //TODO make variable poll colors
//       .progress {
//         flex-grow: 1;
//       }
//     }
//   }
// }

.ThreadPoll {
  .children h2 {
    font-weight: 200;

    margin-bottom: 0;
  }

  ul {
    li {
      .poll-progress {
        background: linear-gradient(to right, lightblue, lightblue);
        background-repeat: no-repeat;

        transition: 0.25s ease-in-out;

        padding: 5px 10px;
        border-radius: 4px;

        display: flex;

        strong {
          flex-basis: 5%;
          padding-right: 0.5rem;
        }

        strong, span {
          white-space: nowrap;
        }
      } 
    }
  }
}