.ThreadHeader {
  align-items: baseline;

  .thread-starter-and-dateline {
    span:not(:first-of-type) {
      margin-left: 10px;
    }
  }

  @media (max-width: 768px) { // TODO media query variables
    .Stat {
      display: none;
    }
  }
}