.UserList {
  justify-content: flex-start;
  flex-wrap: wrap;

  a {

  }

  .user {
    .avatar {
      height: 36px;
      width: 36px;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      margin-right: 3px;
    }

    .username {
      flex-wrap: nowrap;
      white-space: nowrap;
      overflow: hidden;
      font-size: 1.25rem;
      width: 200px;
      text-overflow: ellipsis;
    }
  }
}