.Prefix {
  .generic-prefix {
    display: inline-block;
    font-weight: 300;
    color: white;
    padding: 1px 6px;
    vertical-align: baseline;

    &:first-of-type {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    &:last-of-type {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      margin-right: 0.35rem;
    }
  }
}