.Err404 {
    display: flex;
    justify-content: center;
    text-align: center;
    @media (max-width: 756px) {
      margin: 10px 0px !important;
    }

  .error-icon {
    font-size: 5rem;
  }

  .error-subtitle {
    font-size: 0.7rem;
    margin-bottom: 20px;
  }

  .error-message {
    justify-content: center;
    align-items: center;
    @media (min-width: 756px) {
      display: flex;
    }

    .error-image {
      height: 400px;

      @media (max-width: 756px) {
        height: 200px;
      }
    }

    .error-text {
      margin: 10px 10px;
      .link {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}