.Err500 {
  display: flex;
  justify-content: center;
  text-align: center;
  @media (max-width: 756px) {
    margin: 10px 0px !important;
  }

  .error-message {
    justify-content: center;
    align-items: center;
    @media (min-width: 756px) {
      display: flex;
  }

    .main-text {
      font-size: 1.5rem;
      font-weight: 200;
      margin-bottom: 5px;
    }

    .error-image {
      height: 350px;
      border: 2px solid white;
      box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);

      @media (max-width: 756px) {
        height: 250px;
      }
    }

    .error-text {
      margin: 10px 20px;
    }
  }
}