@import '../base/mixins';

.flex {
  display: flex;
}

.desktop-flex {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.flex-v-center {
  align-items: center;
}

.flex-grows {
  flex-grow: 1;
}

.flex-shrinks {
  flex-shrink: 1;
}

.flex-column {
  flex-direction: column;
}

.align-right {
  text-align: right;
}

.text-small {
  font-size: 0.8rem;
}